 #Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [21]:
def is_symmetrical(a):
    l=[]
    for i in str(a):
        l.append(int(i))
    
    if l[::-1]==l[::1]:
        return True
    else:
        return False

In [22]:
is_symmetrical(7227)

True

In [23]:
is_symmetrical(12567)

False

In [24]:
is_symmetrical(44444444)

True

In [25]:
is_symmetrical(9939)

False

In [26]:
is_symmetrical(1112111)

True

# Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [15]:
def multiply_nums(a):
    l=[]
    b=1
    for i in a.split(","):
        l.append(int(i))
    for j in l:
        b=b*j
        j=+1
    print(b)

In [16]:
multiply_nums("2, 3")

6

In [17]:
multiply_nums("1, 2, 3, 4")

24

In [18]:
multiply_nums("54, 75, 453, 0")

0

In [19]:
multiply_nums("10, -2")

-20

# Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer

In [10]:
def square_digits(a):
    l=[]
    l1=[]
    l2=[]
    
    for i in str(a):
        l.append(int(i))   
    for j in l:
        l2.append(j*j)
    for i in l2:
        print(i,end="")

In [12]:
square_digits(9119)

811181

In [13]:
square_digits(2483)

416649

In [14]:
square_digits(3212)

9414

# Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [5]:
def setify(a):
    return (list(set(a)))

In [6]:
setify([1,3,3,5,5])

[1, 3, 5]

In [7]:
setify([4,4,4])

[4]

In [8]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [9]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [1]:
def mean(a):
    l=[]
    b=0
    for i in str(a):
        l.append(int(i))
    for j in range(len(l)):
        b=(b+l[j])
        
        
    return (b/len(l))

In [2]:
mean(42)

3.0

In [3]:
mean(12345)

3.0

In [4]:
mean(666)

6.0